.product-card
{
    /* margin: 1% 2% 5% 2%;
    padding: 1%; */
    /* text-align: left; */
    /* border: 2px solid black;
    text-align: center; */
    /* width: 300px; */
    /* background-color: aquamarine; */
}
.cardwidth
{
    /* width: 15rem; */
    width: 25%;
    /* max-height:25%; */
    /* margin: 0.76%; */
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    border: 0px;
}
.cardwidth:hover
{
    /* width: 18rem;
    margin: 0.76%;
    border:0px;
    border: 1px solid black; */
}
.card{
    padding:12px;
    border-radius: 0%;
    /* background-color: #9C2A2A; */
}
/* .cardwidth img
{
    width: 18rem;
    margin: 0.76%;
} */

.product-card h3
{
    margin: 1%;
    text-align: left;
    font-size: 20px;
}
.product-card p
{
    margin: 1%;
    text-align: left;
    font-weight: 400;
}
.product-card button
{
margin: 1%;
width: 102px;
height: 35px;
border: 0px;
color: aliceblue;
font-size: 15px;
}
.card-image{
    width: 80%;  
    margin: 5% 10%;
}
.float-right{
    float: right;
}
.btn{
    font-size: 16px;
    font-weight: 500;
}
.card-body 
{
    background-color: rgb(239, 224, 202);
    /* max-height: 50%; */
    border-radius: 5px;
    position: relative;
    /* max-height: fit-content; */
}
/* .card:hover{
    border: 2px solid black;
} */
.card-body h5
{
    font-size: 20px;
    font-weight: 600;
    /* max-width: 1rem; */
    max-width: 100%;
    max-height: 20%;
    overflow: hidden;
}
.card-body p
{
    font-size: 16px;
    font-weight: 400;
    /* display: block; */
}
.card-body a
{
    color: white;
}

.btn{
    border-radius: 5px;
    /* margin: 15px; */
}
.bottom-btn
{
    /* position: absolute;
    bottom: 0px; */
    /* display: block; */
  
}