.profile
{
    margin:5% 5%;
}
.profile h1{
    text-align: center;
}
.profile-img
{
    /* background-color: black;
    color: white; */
    text-align: center;
    width: 8em;
    margin: auto;
    height: 8em;
    border-radius: 50%;
    overflow: hidden;
    /* max-width: ; */
}
.profile-img h2
{
    /* color: red; */
    padding: 10%;
    font-size:5em;
}
.profile table
{
    border: 1px solid black;
}
.profile table tr
{
    border: 1px solid black;
}
.profile table tr td
{
    border: 1px solid black;
}